.hoja{
    width: 100px;
    height: 100px;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background: linear-gradient( to left, green, red)
}

.circular{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: radial-gradient(red, yellow);
}
h1{
    font-size: 60PX;
    text-shadow: 0px 10px 5px red;
}

.textoanimado{
    animation-name: texto-volador;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    border: solid;
}
@keyframes texto-volador{
    from{
        margin-left: 100%;
        width: 200px;
        background-color: blue;
        border:none;
    }
    to{
        margin-left: -100%;
        background-color: red;
        color: white;
        border: none;
    }

}

.imagen-animada{
    animation-name: imagen-resize;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes imagen-resize{
    from{
        width: 100px;
        height: auto;
    }

    to{
        width: 600px;
        height: auto;
    }
}

.ball{
    background-color: black;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    animation-name: bola;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes bola{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(-150px);
    }
}

.lineas {
    text-align: center;
    width: 300px;
    margin: auto;
    font-size: 24px;
    white-space: nowrap;
    border-right: 2px solid black;
    transform: translateY(-50%);
    overflow: hidden;
}

.texto-animado-dos {
    animation: texto-animado-dos 5s steps(180) 1s normal both, cursor 0.5s steps(50) infinite normal;
    animation-duration: infinite;
}

@keyframes texto-animado-dos {
    from {
        width: 0;
    }

    to {
        width: 800px;
    }
}

@keyframes cursor {
    from {
        border-right-color: red;
    }

    to {
        border-right-color: transparent;
    }


}