*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #0D1A2D;
}

.card{
    background-color: #15273F;
    width: 350px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: 150px;
    padding: 25px;
    border-radius: 15px;
    color:white;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.5);
    position: relative;
}
.card h1{
    margin: 20px 0 20px 0;
    font-size: 25px;
}
.card p{
    margin-bottom: 20px;
    color: #98ACC7;
    text-align: justify;
}

.card img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    
}
.card figure div{
    background-color: rgba(37,255,255,0.4);
    width: 350px;
    height: 350px;
    position: absolute;
    top: 25px;
    border-radius: 10px;
    opacity: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card figure div:hover{
    opacity: 100%;
}

#ojo{
    width: 50px;
}

.card figure{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.card1{
    display: flex;
    justify-content: space-between;
    align-items:center
}

.card1 div{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 110px;
    height: 35px;
    margin-bottom: 20px;
}

.card1 div+div{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 110px;
    margin-bottom: 20px;
}
.card1 img{
    width: 20px;
    margin-right: 10px;
}

.card2{
    border-top: 1px solid #2F4159;
}

.card1 div{
    display: flex;
}

.card2 img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid white;
}

.card2{
    display: flex;
    justify-content: start;
    align-items: center;
}

.card2 p{
    margin-top: 20px;
}