.oreja1, .oreja2 {  background-color: brown; 
                    width: 100px; 
                    height: 100px; 
                    border-radius: 50%; 
                    position: absolute;

                }

.oreja2 {

    left: 200px;
}
.cara { background-color: brown; 
        width: 200px; 
        height: 200px; 
        border-radius: 50%;
        position: absolute;

        left: 50px;
        top: 50px;
    }
